/* Exercicio 1 */
#pond {
    display: flex;
    justify-content: flex-end;
}

/* Exercicio 2 */
#pond {
    display: flex;
    justify-content: center;
}

/* Exercicio 3 */
#pond {
    display: flex;
    justify-content: space-around;
}

/* Exercicio 4 */
#pond {
    display: flex;
    justify-content: space-between;
}

/* Exercicio 5 */
#pond {
    display: flex;
    align-items: flex-end;
}

/* Exercicio 6 */
#pond {
    display: flex;
    justify-content: center;
    align-items: center;
}

/* Exercicio 7 */
#pond {
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

/* Exercicio 8 */
#pond {
    display: flex;
    flex-direction: row-reverse;
}

/* Exercicio 9 */
#pond {
    display: flex;
    flex-direction: column;
}

/* Exercicio 10 */
#pond {
    display: flex;
    flex-direction: row-reverse;
    justify-content: start;
}

/* Exercicio 11 */
#pond {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
}

/* Exercicio 12 */
#pond {
    display: flex;
    flex-direction: column-reverse;
    justify-content: space-between;
}

/* Exercicio 13 */
#pond {
    display: flex;
    flex-direction: row-reverse;
    justify-content: center;
    align-items: flex-end;
}

/* Exercicio 14 */
#pond {
    display: flex;
}
  
.yellow {
    order: 1;
}

/* Exercicio 15 */
#pond {
    display: flex;
}
  
.red {
    order: -2;
}

/* Exercicio 16 */
#pond {
    display: flex;
    align-items: flex-start;
}
  
.yellow {
    align-self: flex-end;
}

/* Exercicio 17 */
#pond {
    display: flex;
    align-items: flex-start;
}
  
.yellow {
    order: 2;
    align-self: flex-end;
}

/* Exercicio 18 */
#pond {
    display: flex;
    flex-wrap: wrap;
}

/* Exercicio 19 */
#pond {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}

/* Exercicio 20 */
#pond {
    display: flex;
    flex-flow: column wrap;
}

/* Exercicio 21 */
#pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-start;
}

/* Exercicio 22 */
#pond {
    display: flex;
    flex-wrap: wrap;
    align-content: flex-end;
}

/* Exercicio 23 */
#pond {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column-reverse;
    align-content: center;
}

/* Exercicio 24 */
#pond {
    display: flex;
    flex-direction: column-reverse;
    flex-wrap: wrap-reverse;
    justify-content: center;
    align-content: space-between;
}